.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	gap: 10px;
}

.contactDetails {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
